@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Festive&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.image-fetched {
  @apply mx-2 mt-2 w-full h-56 p-4 transform hover:scale-105 transition ease-in-out duration-300;
}

.row-image {
  @apply flex overflow-y-hidden overflow-x-scroll p-2 mx-4;
}

.btn {
  @apply rounded-md py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider bg-gray-500 mx-2 transform hover:scale-125 transition ease-in-out duration-300;
}


@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}

@media only screen and (max-width:320px) and (max-width:480px) {
    .movie-name {
        font-size: 25px;
    }

    .movie-desc{
      padding: 50px;
      font-size: 13px;
    }
}
